<head>
    <meta charset="UTF-8">
    <title>Kontakt oss</title>
    <link rel="stylesheet" href="/app/static/css/global.css">
    <link rel="stylesheet" href="/app/static/css/style.css">
</head>

<body>
    <h1>Kontakt GameXchange</h1>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> Spørsmål (annet) </label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> Jeg vil selge noe </label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> Jeg vil klage </label><br>
    Navn: <input type="text" name="navn"><br><br>
    Epost: <input type="email"><br><br>
    Melding:<br>
    <textarea rows="4" cols="40"></textarea><br><br>
    </form>
    <div>Send</div>
    <a style="margin-right: 10px" href="">Hjem (du er her)</a><a style="margin-right: 10px"
        href="highlights.html">Høydepunkter</a><a style="margin-right: 10px" href="login.html">Kjøp</a><a
        style="margin-right: 10px" href="register.html"></a><astyle="margin-right: 10px" href="about-us.html">Om oss og
        kontakt</a><a href="all-products.html">Alle produkter</a>
</body>