<link rel="stylesheet" href="/app/static/css/global.css">
<link rel="stylesheet" href="/app/static/css/style.css">
<h1>Velkommen til GameXchange</h1>
<input type="text" name="username" id="">
<input type="text" name="password" id="">
<button>SEnd</button>

<br><br><br><br><br><br>
<hr><br>
<a style="margin-right: 10px" href="">Hjem (du er her)</a><a style="margin-right: 10px"
    href="highlights.html">Høydepunkter</a><a style="margin-right: 10px" href="login.html">Kjøp</a><a
    style="margin-right: 10px" href="register.html"></a><astyle="margin-right: 10px" href="about-us.html">Om oss og
    kontakt</a><a href="all-products.html">Alle produkter</a>
    <br><br>
    <hr>